body {
  margin: 0px;
  padding: 0px;
  font-family: sanf-serif;
}
b {
  color:black;
}

#header {
  background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQGTFS64HiPPhZjoMyAcqzW3ay0sINlzR_jJsR0zv6ypAwF7CiD);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  text-align: center;
  margin: 0 10px 0 10px;
  padding: 70px; 
}
.introduction {
  background-color: #3f3f3f;
  color: white;
  text-align: center;
  font-size: 50px;
  margin: 0 10px;
  padding: 30px 0 30px 0;
}
.nav {
  background-color: #3f3f3f;
  color: #42f4e5;
  margin: 0 10px 0 10px;
  padding: 10px;
}
.nav ul li {
  display: inline-block;
  padding: 10px;
}
#section {
  font-family: Verdana;
  text-align: center;
  margin: 0 10px 0 10px;
  padding: 10px 10px 30px 0;
  background-color: #3f3f3f;
  display: flex;
  flex-direction: row;
}
.turn-left {
  display: flex;
  flex: 1 1 40%;
  flex-direction: column;
}
.turn-right {
  display: flex;
  flex: 1 1 60%;
  flex-direction: column;
}
.about {
  font-size: 1.5em;
  text-decoration: underline;
}
section {
  margin: 10px;
  padding: 0 0 10px 0;
  text-align: center;
}
section h2 {
  margin: 10px;
  padding: 10px;
  text-align: center;
}
#skills {
  background-color: black;
  color: white;
  min-height: 300px;
  margin: 0 10px;
  padding: 10px;
}
#footer {
  background-color: #3f3f3f;
  text-align: center;
  padding: 20px 0 20px 0;
  margin: 0 10px 0 10px;
}
#icons {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  justify-content: center;
}
/*span:hover + .div1 {
  display: block;
}
.div1 {
  font-size: 20px;
  display: none;
  background-color:yellow;
  align-text: center;
  padding: 0 20px 0 20px;
}*/
a:link {
  color: ;
}
a:visited {
  color: orange;
}
a:hover {
  color: yellow;
}
a:active {
  color: teal;
}
a img {
  border: 0;
}
footer a:hover {
  color: grey;
}
