html, body { 
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ecf0f1;
}
#nav {
    background: none;
    color: white;
    text-align: center; /* Centered text */
    /* font-size: 90px; /* Big font size */
    font-weight: bold;
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
    height: 13vh;
    align-items: center;
    transition: 0.3s; /* Add a transition effect (when scrolling - and font size is decreased) */
    z-index: 1;
}
#nav a:not(:first-child):hover {
    background-color: #ddd;
    color: black;
}


.ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
}
.li {
    flex: 0 0 auto;
    padding: 5vh;
    text-decoration: none;
    color: white;
}
.li:nth-child(1) {
    margin-right: auto;
    margin-left: 5vh;
}


/*      Main page        */
.personal {
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url('assets/background3.gif');
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    color: white;
}
.flex-container {
    display: flex;
    flex: 1 1 auto;
    height: 80vh;
}
.about-info {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30vh auto;
    height: 30vh;
}
.line {
    border-bottom: solid 4px #2980b9;
    width: 20vh;
    margin: auto;
    margin-bottom: 3.5vh;
}

.uppercase {
    text-transform: uppercase;
    line-height: 2;
}
.about {
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    font-size: 1.3em;
    padding-top: 5vh;
    min-height: 80vh;
}
.about img {
    border-radius: 50%;
    border: 2px solid grey;
    height: 150px;
    width: 150px; 
}
.myself {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.more-about-myself {
    display: flex;
    width: 60%;
    margin: 0 auto;
}



/*            PROJECTS */
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15vh; 
    height: 70vh;
    width: 70%;
    margin: auto;
}
.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.project {
    display: flex;
    /* flex-direction: row; */
    flex: 1 1 33%;
    flex-direction: column;
    margin: 2vh;
    border: 2px solid teal;
}
.project-image { 
    display: flex;
    flex: 1 1 100%;
}
.project-links {
    display: flex;
    /* flex: 0 1 0; */
    background:#2E76CF;
    
}
.project-links a {
    display: flex;
    flex: 1;
    padding: 3vh;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: white;
}
.project-links a:hover {
    background:#173b67;
}


/*              CONTACT  SECTION */
.contact-section {
    padding-top: 15vh; 
    align-content: center;
    justify-content: center;
    width: 70%;
    height: 70vh;
    margin: auto;
    padding-bottom: 10vh;
}
.contact-container {
    display: flex;
    width: 100%;
    height: 150px;
    margin: auto;
}
.contact-container > * {
    flex: 1;
}

.submit-info {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 10px;
    font-size: 1.2em;
}
.message {
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 10px;
    flex-basis: 100%;
}
textarea {
    width: 100%;
    padding: 3vh;
    font-size: 1.2em;
}
input {
    box-sizing: border-box;
    padding: 10px;
}
input:focus {
    background: #fc9fff;
}


.button-div { 
    display: flex;
    flex: 0 1 0;
    margin: auto;
    width: 100%;
    font-family: "Merriweather";
}
.button-send {
    height: 50px;
    flex-basis: 100%;
    cursor: pointer;
    margin-top: 3vh; 
    background:#2E76CF;
    color: white;
}
.button-div :hover {
    background:#173b67;
}


.footer {
    display: flex;
    flex-direction: column;
    background: rgba(38, 40, 45, 0.9);
    padding: 10px;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}
.space-it {
    height: 30px;
    width: 30px;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

@media only screen and (max-width: 480px) {
    
    .menu-area a:nth-last-child(-n+3){
        font-size: 15px;
    }
    html, body {
        margin: 0px;
        padding: 0px;
    } 
    .about {
        padding-top: 7vh;
    }
    .inside-personal-container {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 10vh auto;
    }
    .more-about-myself {
        width: 70%;
        font-size: 0.7em;
    }
    
    .projects {
        display: flex;
        height: 650px;
    }
    .projects-container {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        justify-content: center;
    }    

    .contact-section {
        width: 90%;
        height: 400px;
        padding-top: 8vh;
    }
    .contact-container {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .submit-info {
        height: 90px;
        margin: auto;
        width: 90%;
        flex-basis: 0%;
        justify-content: center;
        padding: 0px;
    }
    .message {
        margin: auto;
        width: 90%;
        flex-basis: 0%;
        padding: 0px;
    }
    textarea {
        height: 50px;
    }
}

@media only screen and (max-width: 640px) {
    html, body {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    .myself {
        min-height: 70vh;
    }
    .projects{
        padding-top: 13vh;
    }
    
@media only screen and (max-width: 767px) {
    
}
@media only screen and (min-width: 1024px) {

}
@media only screen and (min-width: 1200px) {
    
}