body {
	
}
.nav {
	height: 80px;
	padding-top: 7px;
}
#main {

}
li {
	background-color: #41a9f4;
}
li a.active {
	background-color: white;
	color: #b642f4;
}
li a:hover:not(active) {
	color: black;
	box-shadow: 5px 5px 5px grey;
}
.about {
	width: 70%;
	margin: 0px auto;
	margin-top: 80px;
	background-color: #7e7f82;
	position: center;
	display: block;
	color: white;
	background-color: #898f99;
	padding: 60px 20px 20px 20px;
	text-align: center;
}
.btn {
	display: inline;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	text-decoration: none;
	border: 2px solid #fff !important;
}
.btn-outline {
	font-size: 20px !important;
	color: black;
	background-color: #898f99;
}

.btn-outline:hover {
	color: black;
	background-color: white;
}

.profile_photo {
	align-items: middle;
	border-radius: 50%;
	margin-bottom: 30px;
}
#Skills {
	width: 70%;
	min-height: 500px;
	margin: 0 auto;
	text-align: center;
	background-color: white;
	padding: 50px 20px 20px 20px;
}
#Projects {
	width: 70%;
	min-height: 500px;
	margin: 0 auto;
	text-align: center;
	background-color: #41a9f4;
	padding: 50px 20px 20px 20px;
}
#Contact {
	width: 70%;
	height: 450px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	background-color: white;
	padding: 20px;
	border-top: 1px solid grey;
	min-height: 250px;
}
#Contact div  {
	padding: 5px;
}
.no-border {
	border: 0;
	border-bottom: 1px solid #000000;
	width: 100%;
	height: 40px;
}
.text-input {
	width: 100%;
	border-bottom: 1px solid #000000;
	resize: none;
	height: 80px;
}
.btn-send {
	float: left;
}
.btn-reset {
	float: right;
}
.responsive-textarea {
	width: 100%;
}
.footer {
	color: white;
	width: 100%;
	background-color: #7e7f82;
	text-align: center;
	padding: 20px;
}
.inline {
	display: inline-block;
	line-height: 1em;
}
.pStyle {
	padding: 10px;
	margin: 20px;
}
.dStyle {
	padding-top: 20px;
	padding-bottom: 10px;
	margin: 20px;
}
.btn-send-text {
	display: none;
	/*position: absolute;*/
	margin: 5px auto;
	padding: 3px;
	border: 1px solid black;
	width: 100px;
	height: 100px;
	background-color: #aa2032;
	border: 1px dotted #e9ff2b;
	border-radius: 5px;
}